@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

#head{
    padding: 40px;
    background-color: darkcyan;
}


#intro{
    border-right: solid 10px;
    font-family: 'Source Code Pro', monospace;
    font-size: 28px;
    overflow: hidden;
    white-space: nowrap;
    color: #291931;
    margin:0 auto;
}

/* Animation */
#intro{
    animation: animated-text 4s steps(29, end) 1s 1 normal both, animated-cursor 600ms steps(29,end) infinite;
}

/*
    text animation
 */
@keyframes animated-text {
    from{width: 0;}
    to{width: 760px;}
}

/*
    cursor animation
 */
@keyframes animated-cursor {
    from{border-right-color: aquamarine;}
    to{border-right-color: transparent;}
}

#subhead{
    font-family: "metropolis-semibold", sans-serif;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: #29b6f6;
    margin-top: 50px;
    margin-bottom: 15px;
}

#display-1{
    font-family: 'Source Code Pro', monospace;
    padding: 30px;
    font-size: 1.5rem;
    color: black;
    margin-top: 0;
    margin-bottom: 4.0rem;
}

body {
    margin: 0;
}
#main{
    display: flex;
    justify-content: center;
}
.container {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.img-container {
    margin: 10px;
    margin-top: 6px;
    flex: 1 1 270px;
}

img {
    max-width: 100%;
    margin: 0!important;
}

img:hover{
    opacity: 0.5;
    transition: opacity .15s ease-in-out;
    border-radius: 10px;
}