# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\VN_ITMO_WEB_COURSE\NND\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
